[submodule "Classes/asi-http-request"]
	path = Classes/asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "Classes/MBProgressHUD"]
	path = Classes/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Classes/UIDevice-Extension"]
	path = Classes/UIDevice-Extension
	url = git://github.com/erica/uidevice-extension.git
[submodule "Classes/InAppSubscriptions"]
	path = Classes/InAppSubscriptions
	url = git@github.com:prey/prey-ios-inapppurchase.git
[submodule "Classes/json-framework"]
	path = Classes/json-framework
	url = git://github.com/stig/json-framework.git
