<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.location.push.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).LocationPushService</string>
	</dict>
	<key>NSExtensionBackgroundTaskIdentifierPrefix</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER).location</string>
	<key>CFBundleDisplayName</key>
	<string>Prey Location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Prey needs your location to help you track and find this device using our platform.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Prey needs your location to help you track and find this device using our platform.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Prey needs your location to help you track and find this device using our platform.</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
</dict>
</plist>